body{
    font-family: 'Roboto', sans-serif;
    background: url("/images/bg/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}
section{
    padding: 50px 0;
}

.breadcrumb-item{
    font-size: 20px;
}
.breadcrumb-item a{
    color: black;
}

.about_content{
    text-align: justify;
    font-size: 19px;
}



/*мастер */
.about_section{
background: url(/images/bg/homemade-bakery-recipes-concept-LQJ9YC7.jpg)fixed 50% no-repeat;
}
.about_master{
    background-color: #f3f7ea;
}
.about_master_name{
    font-size: 35px;
    color:#663300;
}
/* --color2:#663300; */
/*  */
.about_master_img{
    min-height: 200px;
    min-width: 230px;
    max-width: 330px;
    max-height: 300px;
    border-radius: 50%;
}

.about_btn{
    width: 250px;
    display: block;
    padding: 10px;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    color: black;
    font-weight: bold;
    transition: .3s ease all;
    box-shadow: 5px 7px 8px 3px rgba(34, 60, 80, 0.2);
}
.about_btn:hover{
    transform: scale(1.04);
    background: #ffa60d;
    border-color: #ffa60d;
    color: black;
    box-shadow: 5px 7px 8px 3px rgba(34, 60, 80, 0.5);
}
.about_btn:active{
    transform: scale(0.9);
}

/* фото */
.about_photos{
    overflow: hidden;
}
.about_photos_img{
    width: 100%;
}
.about_photos_item{    
    position: relative;
    width: 25%;
    transition: .5s ease all;
}
.about_photos_item:hover{
    transform: scale(1.04);
}






@media screen and (max-width: 991px) {
    .container{
        width: 720px;
    }
    
}

@media screen and (max-width: 767px) {
    .container{
        width: 540px;
    }
    
}


@media screen and (max-width: 575px) {

	.container{
	
	width:100%;
	padding: 0 15px;
	}
    .about_photos_item{
        width: 50%;
    }

}

