.assortment_item{
    width: 90%;
    margin: auto;
    /* padding: 10px; */
    background: white;
    margin-bottom: 30px;
    box-shadow: 1px 7px 8px 8px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    overflow: hidden;
    /* background: url(/images/bg/bg.jpg); */
    /* background: #fcf0f5; */
}
.assortment_image{
    width: 100%;
    height: 280px;
    background: gray;
}
.assortment_image img{
    width: 100%;
    height: 100%;
}
.assortment_title{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}
.assortment_descr{
    font-size: 14px;
    padding: 10px;
    height: 80px;

}
.assortment_price_num{
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}
.assortment_btn{
    padding: 20px 10px;
    display: flex;
    justify-content: right;
}
.assortment_btn_button{
    width: 130px;
    padding: 5px;
    border-radius: 25px;
    border: none;
    background:#ffa60d;
    /* border: 2px solid black; */
    color: white;
    transition: .4s ease all;
    box-shadow: 5px 7px 8px 3px rgba(34, 60, 80, 0.2);
}
.assortment_btn_button:hover{
    transform: scale(1.04);
    box-shadow: 5px 7px 8px 3px rgba(34, 60, 80, 0.5);
}
.assortment_btn_button:active{
    transform: scale(0.9);
}