/*font-family: 'Ms Madi', cursive;*/
/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Roboto', sans-serif;*/


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background: url("/images/bg/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
}

a{
    text-decoration: none;
    color:white;
    
}

li{
    list-style: none;
}

/* ---------------------- */

header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    color: white;
    transition: 1s ease all;
}

.logo{
    font-family: 'Ms Madi', cursive;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.logo a{
    color: white;
    font-size: 50px;
}
.logo a:hover{
    color: #f0c76e;
}
.header_nav_list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 20px 0;   
}
.header_nav_list_item a{
    font-size: 20px;
}
.header_nav_list_item a:hover{
    color: #f0c76e;
    border-bottom: 2px solid #f0c76e;
}



.header_swiper_wrapper{
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.nav_backet{
    font-size: 30px;
}

/* header slider */
.slide_one{
    background-image: url('/images/slides/slideOne.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper-slide{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.slider_text h3{
font-size: 50px;
color:#f0c76e;
margin-left: 30px;
padding-bottom: 70px;
position: relative;

}
.anim1{
    position: relative;
    animation: title 3s ease-in-out 1 normal;
}

@keyframes title{
    from{
        top: -500px;
       
        opacity: 0;
    }
    to{
        top: 0;
        left: 0px;
        opacity: 1;
    }
}


.slide_two{
    background-image: url('/images/slides/slideTwo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide_three{
    background-image: url('/images/slides/slideFive.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.line{
    width: 100%;
    position: relative;
    z-index: 7;
    left: 0px;
    top: -343px;
}
.line img{
    width: 100%;
}


/* Преимущества */

.relative_container{
    position: relative;
}

.choco{
 position: relative;
 z-index: -10;
}


.section_advantages{
    margin: 100px 0;
}
.why_we{
    font-size: 75px;
    color: #663300;
}

.line_row{
margin: 40px 0;
}
.adv_item{
    min-width:25%;
    min-height: 450px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.adv_image{
max-width: 100px;
}
.adv_item img{
    min-width: 100%;
}
.adv_span{
    margin: 20px 0;
    font-size: 25px;
    color: #663300;
}
.adv_description{
    width: 50%;
    font-size: 18px;
    padding: 10px;
}




/* ассортимент */

.assort_item{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    width: 400px;
    height: 460px;
    background-image: url('/images/bisquit/bisquit_hover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    box-shadow: 11px 15px 8px 0px rgba(34, 60, 80, 0.2);
    margin-bottom: 40px;
    position: relative;
    transition: .5s ease all;
}
.assort_item span{
    font-size: 40px;
    position: relative;
    z-index: 10;
}
.assort_item:hover{
    background-image: url('/images/bisquit/bisq.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#f0c76e;
    box-shadow: -1px 33px 8px 12px rgba(34, 60, 80, 0.38);
}

.assort_item::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 12px;

}
.muss{
    background-image: url('/images/muss/muss.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.muss:hover{
    background-image: url('/images/muss/muss-hover.jpg');
}
.bento{
    background-image: url('/images/bento/bento.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bento:hover{
    background-image: url('/images/bento/bento-hover.jpg');
}
.cupcake{
    background-image: url('/images/cupcakes/cupcake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cupcake:hover{
    background-image: url('/images/cupcakes/cupcake-hover.jpg');
}
.trifle{
    background-image: url('/images/trifles/trifle.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.trifle:hover{
    background-image: url('/images/trifles/1583185018_7-p-deserti-parfe-13.jpg');

}

.merenga{
    background-image: url('/images/merengy/merenga1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.merenga:hover{
    background-image: url('/images/merengy/merenga-hover.jpg');
}

.assort_item:hover{
    transform: scale(1.05);
}


/* Конструктор */


.constructor_wrapper{
    margin: 100px 0;
    background: url('/images/constructorBG.jpg') fixed 50% no-repeat;
    
    background-size: cover;
    min-width: 100%;
    max-width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    
}

.constructor_title h3{
    font-size: 60px;
    color: #c19d56;

}
.constructr_description{
    margin: 30px 0;
    color: #663300;
    font-size: 20px;
}
.constructor_href{
    font-size: 18px;
    display: inline-block;
    background: linear-gradient(to bottom, #884003, #010101);
    padding: 20px;
    border-radius: 40px;
    outline: none;
    transition: .5s ease all;
    box-shadow: 0px 9px 14px 4px rgba(0,0,0,0.59);
}
.constructor_href:hover{
    transform: scale(0.98);
    color: bisque;
    background: linear-gradient(to top left, #884003, #010101);
    box-shadow: 0px 9px 10px 2px rgba(0,0,0,0.30);
}


/* частые вопросы */

.questions{
    margin: 200px 0;
}
.questions_wrapper{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.questions_title{
    margin-bottom: 50px;
    color: #663300;
}
.questions_title h3{
    font-size: 55px;
}

.questions_content{
   min-width: 100%;
   position: static;
   
}




/* форма обратной связи */

.callback{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.callback_title h3{
    font-size: 55px;
    color: #663300;
}
.callback_title p{
    font-size: 20px;
    color: #663300;
}

.callback_form{
    width: 30%;
    margin: 30px auto;
}
.callback .btn{
    width: 200px;
    outline: none;
    border: none;
}

.choko_img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 350px;
}








/* футер */

.footer{
    margin-top:100px;
    background: linear-gradient(to top left, #884003, #010101);
    min-height: 20vh;
    padding: 20px;
}
.fa-brands{
    font-size: 33px;
    transition: .5s ease all;
}
.fa-brands:hover{
    transform: scale(1.2);
    /* transform: rotate(360deg); */
}
.fa-vk:hover{
    color:  #4680C2;
}
.fa-instagram:hover{
   color: #d62976;
}
.fa-whatsapp:hover{
    color: #5FFC7B;
}
.footer_phone{
    font-size: 20px;
}
.footer_phone:hover{
    color:#f0c76e;
    text-decoration:underline; 
}
.footer_span{
    margin: 0 20px;
    color: aliceblue;
}
.confidential{
    font-size: 14px;
    padding: 20px;
}
.confidential:hover{
    color: gray;
}










/* медиа запросы */

@media  screen and (max-width: 1200px) {
    .container {
        width: 1140px;
    }
    .container-fluid{
        width: 1140px;
    }
}

@media screen and (max-width: 1199px) {
    .container{
        width: 960px;
    }
    .container-fluid{
        width: 960px;
    }
    
}

@media screen and (max-width: 991px) {
    .container{
        width: 720px;
    }
    .container-fluid{
        width: 720px;
    }
    
}

@media screen and (max-width: 767px) {
    .container{
        width: 540px;
    }
    .container-fluid{
        width: 540px;
    }
    
}


@media screen and (max-width: 575px) {

	.container{
	width:100%;
	padding: 0 15px;
	}
    .container-fluid{
        width: 100%;
        padding: 0 15px;
    }

}


/* стили для js */
