.delivery_subtitle{
    font-size: 16px;
}
.delivery_subtitle a{
    color: #663300;
}
.delivery_description{
    padding: 30px;
    line-height: 3em;
}
.delivery_description li{
    list-style: square outside;
}
.delivery_address{
    font-size: 14px;
    text-align: center;
}
.delivery_info{
    font-size: 16px;
    font-weight: bold;
    color: #663300;
}

@media screen and (max-width: 767px){
.delivery_description{
    line-height: 2em;
}
}

@media screen and (max-width: 575px){
    .delivery_description{
        padding: 0;
    }
}